body {
  color: #AAAAAA;
  background-color: #EBEBEB;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 300;
  font-size:15px;
  margin: 15px;
  line-height: 1.5em;
}

#sidebar ul {
  list-style: none;
  padding-left: 0px;
}

#sidebar {
  background-color: #AAAAAA;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 80px;
  text-align: center;
}

.sidebar-icon {
  color: white;
  padding: 10px;
  font-size: 20px;
}

.sidebar-icon:hover {
  color: #EBEBEB;
}

.icon {
  color: #528078;
}

.icon:hover {
  color: #70D4B4;
}

h1 {
  color: #528078;
  font-size: 23px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 17px;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif
}

a {
  text-decoration: none;
  color: #BBBBBB;
}

a:hover {
  color: #70D4B4;
  text-decoration: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

table {
  text-align: start;
  }

td {
  padding:10px;
}

.btn-green {
  background-color: #528078;
  color: #FFFAEF;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
}

.btn-green:hover {
  background-color: #70D4B4;
  color: #FFFAEF;
}

.text-center {
  text-align: center;
}

.container {
  width: auto;
  margin: 0 auto;
  margin-left: 95px;
}

.card {
  background: #FFFAEF;
  padding: 20px;
  margin: 20px;
  width: auto;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  /*border: 1px solid lightgrey;*/
}

.small {
  font-size: 12px;
}

.list-inline {
  padding-left: 0px;
}

.img-circle {
  border-radius: 50%;
}

.img-movie {
  width:80px;
}

